<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= form_for(User.new, url: login_path) do |f| %>
            <div class="mb-3">
              <%= f.label :username, class: "form-label" %>
              <div class="input-group">
                <span class="input-group-text">@</span>
                <%= f.text_field :username, class: "form-control", placeholder: "Enter your username" %>
              </div>
            </div>

            <div class="d-grid">
              <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render partial: 'layouts/flash_errors' %>
    </div>
  </div>
</div>
